<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<div class="container">
			<div class="card-header mb-3">
		    	<h3 class="text-center font-weight-bold my-4">Board Edit.</h3>
		    </div>
			<form id="boardEditForm" action="/board/edit/action" method="post" th:with="info=${resultMap.info}" enctype="multipart/form-data">
				<input type="hidden" name="id" th:value="${info.id}">
				<div class="mb-3">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Title.</label>
				    <input type="text" class="form-control" name="title" th:value="${info.title}" required >
				</div>
				<div class="mb-3">
			    	<label class="form-label font-weight-bold"><span class="text-danger">* </span>Content.</label>
			    	<textarea class="form-control" rows="5" name="content" th:text="${info.content}" required ></textarea>
				</div>
				<div class="mb-5">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Writer.</label>
				    <input type="text" class="form-control" name="registerId" th:value="${info.registerId}" readonly>
				</div>
				<div class="clearfix mt-5">
					<div class="d-flex align-items-center">
					    <button type="button" class="btn btn-outline-primary" onclick="javascript:location.href='/board/list'">Previous</button>
					    <div class="ml-auto"></div>
					    <button type="button" class="btn btn-primary mr-1" onclick="boardEditForm.submit();">Save</button>
					</div>
				</div>
			</form>
		</div>
	    <script th:inline="javascript">		
	   		let boardEditForm = $("#boardEditForm");
	    
	   		$(document).ready(function() {
		    	boardEditForm.validate({
		        	messages: {
					   	title: {
					     	required : "title is required, Please enter a title."
					   	},
					   	content: {
					   		required : "content is required, Please enter a content."
						},
						registerId: {
					    	required : "writer is required, Please enter a writer."
						}		   
			        },
			        submitHandler: function (form) {
			            form.submit();
			        }
		      	});
	        });
		</script>
	</th:block>
</html>