<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/default_layout">
    <th:block layout:fragment="content">
        <div id="wrapper">        	
			<div class="container">
				<div class="card-header mb-3">
			    	<h3 class="text-center font-weight-bold my-4">Board</h3>
			    </div>
		    	<form action="/board/list" id="boardListForm" method="get">
				    <div class="col-md-12 mt-4">
				    	<div class="d-flex justify-content-between">
				    		<div>
					    		<i class="bi bi-person-fill"></i>
					    		<span th:text="${userEmail}"></span>
				    		</div>
				    		<button type="button" class="btn btn-outline-danger" onclick="javascript:location.href='/logout'"><i class="bi bi-box-arrow-left"></i> Logout</button>
				    	</div>			   
				        <table class="table table-striped table-horizontal table-bordered text-center mt-3">
				            <thead class="thead-strong">
				                <tr>
				                    <th width="5%" th:if="${isAdmin}"><input type="checkbox" id="chkAll"></th>
				                    <th width="10%">No.</th>
				                    <th width="">Title</th>
				                    <th width="20%">Writer</th>
				                    <th width="20%">Reg Time</th>
				                    <th width="10%">Views</th>
				                    <th width="10%">Upvote</th>
				                </tr>
				            </thead>
				            <tbody id="tbody">
				            	<tr th:each="list,index : ${resultMap.list}" th:with="paging=${resultMap.paging}" th:classappend="${list.isNotice} ? 'table-warning'">
									<td th:if="${isAdmin}">
										<input type="checkbox" name="deleteId" th:value="${list.id}">
									</td>
									<td>
										<span th:text="${list.isNotice} ? 'Notice' : ${list.id}"></span>
									</td>
									<td class="text-left">
										<a th:href="@{./view(id=${list.id})}" th:class="${list.isNotice} ? 'font-weight-bold' : '' ">
											<span th:text="${list.title}"></span>
											<span th:text="'[' + ${list.commentCount} + ']'"></span>
										</a>										
									</td>
									<td>
										<span th:text="${list.isNotice} ? 'Admin' : ${list.registerId}"></span>
									</td>
									
									<td>
										<span th:text="${list.getFormattedRegisterTime()}"></span>
									</td>
									<td>
										<span th:text="${list.readCnt}"></span>
									</td>
									<td>
										<span th:text="${list.upvoteCount}"></span>
									</td>
								</tr>
				            </tbody>
				        </table>
				        <div class="d-flex align-items-center justify-content-between">
					        <button type="button" class="btn btn-danger" th:if="${isAdmin}" onclick="multipleDelete()"><i class="bi bi-trash3-fill"></i> Delete</button>
				        	<div></div>
				        	<button type="button" class="btn btn-primary" onclick="javascript:location.href='/board/write'"><i class="bi bi-plus-lg"></i> New Board</button>
				        </div>
				        <div class="row">
						    <div class="col">
						        <div class="d-flex justify-content-center">
						            <ul class="pagination">
						                <li class="page-item" th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}" th:with="paging=${resultMap.paging}">
						                    <a class="page-link" th:classappend="${paging.pageNumber ==  (index-1)} ? bg-primary : bg-secondary" th:href="@{./list(page=${index - 1},page=${paging.pageSize})}">
						                        <span class="text-white" th:text="${index}"></span>
						                    </a>
						                </li>
						            </ul>
						        </div>
						    </div>
						</div>
				    </div>				 
			    </form>
		    </div>
	    </div>
	    <script th:inline="javascript">
	    	// header checkbox event
	    	$("#chkAll").click(function() {
	    		if (this.checked) {
	    			$("input[name='deleteId']").prop("checked", true);
	    		} else {
	    			$("input[name='deleteId']").prop("checked", false);
	    		}
	    	});
	    	
	    	// body checkbox event
	    	$("input[name='deleteId']").click(function() {
	    		let delInpLen = $("input[name='deleteId']").length;
	    		let delInpChkLen = $("input[name='deleteId']:checked").length;
	    		
	    		if (delInpLen == delInpChkLen) {
	    			$("#chkAll").prop("checked", true);
	    		} else {
	    			$("#chkAll").prop("checked", false);
	    		}
	    	});
	    
			function multipleDelete() {
				let delInpChkLen = $("input[name='deleteId']:checked").length;
				
				if (delInpChkLen > 0) {
					if (confirm("Do you want to delete it?")) {
						let boardListForm = $("#boardListForm");
						boardListForm.attr("action","/board/delete");
						boardListForm.attr("method","post");
						boardListForm.submit();
					}
				} else {
					alert("Not selected.");
				}
			}
		</script>
	</th:block>
</html>