<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
   	<th:block th:replace="fragments/header :: headerFragment"></th:block>
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<div class="container">
			<div class="card-header mb-3">
		    	<h3 class="text-center font-weight-bold my-4">Board View.</h3>
		    </div>
			<form id="frm" action="/board/view/action" method="post" th:with="info=${resultMap.info}" enctype="multipart/form-data">
				<input type="hidden" name="id" th:value="${info.id}">
				<div class="mb-3">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Title.</label>
				    <input type="text" class="form-control" name="title" th:value="${info.title}" required >
				</div>
				<div class="mb-3">
			    	<label class="form-label font-weight-bold"><span class="text-danger">* </span>Content.</label>
			    	<textarea class="form-control" rows="5" name="content" th:text="${info.content}" required ></textarea>
				</div>
				<div class="mb-5">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Writer.</label>
				    <input type="text" class="form-control" name="registerId" th:value="${info.registerId}" required >
				</div>
				<div class="clearfix mt-5">
					<div class="d-flex align-items-center">
					    <button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous</button>
					    <div class="ml-auto"></div>
					    <button type="button" class="btn btn-primary mr-1" onclick="fnSubmit();">Edit</button>
					    <button type="button" class="btn btn-danger" th:onclick="fnViewDelete()">Delete</button>
					</div>
				</div>
			</form>
		</div>
	    <script th:inline="javascript">
		    function fnViewDelete() {
	            if (confirm("Do you want to delete it?")) {
	                let frm = $("#frm");
	                frm.attr("action", "/board/view/delete");
	                frm.submit();
	            }
	        }
		    
		    function fnSubmit() {
				if (confirm("Do you want to edit it?")) {
					frm.submit();
				}
		    }
		    
		    $(function() {
		    	frm.validate({
		            messages: {
		            	title: {
		                    required : "Custom required, Please enter a title."
		                }
		            },
		            submitHandler: function (form) {
		            	if (deleteFileIdArr.length > 0) {
		            		$.ajax({
								url: "/file/delete.ajax",
								type: "post",
								data: { idArr: deleteFileIdArr },
								dataType: "json",
								success: function(r) {
									if (r.result) {
										form.submit();
									} else {
										alert("A problem occurred, and progress is interrupted. Try again in a few minutes.");
									}
								},
								error: function(e) {
									console.log(e);
								}
							});
		            	} else {
		            		form.submit();
		            	}
		            }
		        });
		    });
		</script>
	</th:block>
</html>