<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<div class="container" th:with="info=${resultMap.info}">
			<div class="card-header mb-3">
		    	<h3 class="text-center font-weight-bold my-4">Board View.</h3>
		    </div>
		    <!-- 게시글 폼 -->
			<form id="boardViewForm" action="/board/edit" method="get" enctype="multipart/form-data">
				<input type="hidden" name="id" th:value="${info.id}">
				<div class="mb-3">
				    <span class = "font-weight-bold" name="title" th:text="${info.title}"></span>				    
				</div>		
				<div class="board-id mb-3 d-flex justify-content-between">
					<!-- 게시글 제목, 작성자 -->
					<span>
						<span class = "text-secondary" name="registerId" th:text="${info.registerId} + ' | '"></span>
						<span class = "text-secondary" name="registerTime" th:text="${#temporals.format(info.registerTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
					</span>
					<!-- 조회수 -->
					<span class="flex-grow-1 text-right" th:text="'view : ' + ${info.readCnt}"></span>
				</div>
				<hr>
				<!-- 게시글 내용 -->
				<div class="mb-5">
			    	<pre name="content" th:utext="${info.content}"></pre>
				</div>
				<!-- 게시글 이미지 -->		
				<th:block th:if="${resultMap.fileList}">
				    <div class="fileList mb-3" th:each="id : ${resultMap.fileList}">
				        <img alt="image file" style="width: 50%" class="mt-3" th:src="@{/file/download(id=${id})}">
                    </div>
                </th:block>
				<!-- 추천 비추천 버튼 -->
				<div class="d-flex justify-content-center">
					<button type="button" class="btn btn-outline-success mr-1" th:onclick="'updateUpvote(' + ${info.id} + ')'"><i class="bi bi-hand-thumbs-up-fill"></i> Upvote <span th:text="${upvoteCount}"></span></button>
					<button type="button" class="btn btn-outline-danger" th:onclick="'updateDownvote(' + ${info.id} + ')'"><i class="bi bi-hand-thumbs-down-fill"></i> Downvote <span th:text="${downvoteCount}"></span></button>
				</div>
				<hr>
				<!-- 이전, 수정 ,섹제 버튼 -->
				<div class="clearfix mt-3">
					<div class="d-flex align-items-center">
					    <button type="button" class="btn btn-outline-primary" onclick="javascript:location.href='/board/list'"><i class="bi bi-arrow-left"></i></button>
					    <div class="ml-auto"></div>
					    <button type="button" class="btn btn-primary mr-1" th:if="${info.registerId == userEmail}" onclick="boardViewEdit('${info.id}')"><i class="bi bi-pencil-square"></i> Edit</button>
					    <button type="button" class="btn btn-danger" th:if="${info.registerId == userEmail or isAdmin}" th:onclick="boardViewDelete()"><i class="bi bi-trash3-fill"></i> Delete</button>
					</div>
				</div>
			</form>
			<hr>
			<!-- 댓글 작성 폼 -->
			<form id="commentForm" th:action="@{/board/view/comment}" method="post">
			  	<input type="hidden" name="boardId" th:value="${info.id}" />
			  	<input type="hidden" name="registerId" th:value="${userEmail}"/>
			  	<div class="d-flex mb-6">
			    	<textarea class="form-control flex-grow-1 mr-1" rows="3" name="content"></textarea>
			    	<button type="button" class="btn btn-success active p-3" onclick="commentAdd()">Add</button>
			  	</div>
			</form>
			<div class="mt-5">			    
			   	<label class="form-label font-weight-bold">
			   		Comment 
			   		<span th:text="'(' + ${commentCount} + ')'"></span>
			   		<i class="bi bi-people-fill"></i>
			   	</label>
			    <hr>
			    <!-- 댓글 리스트 -->
			    <div th:each="comment : ${commentList}" th:if="${comment.parentId} == 0" th:id="'comment-' + ${comment.id}" th:attr="data-comment=${comment}">
				    <div class="comment">
				        <div class="d-flex justify-content-between align-items-center p-1">
					        <div>
					        	<i class="bi bi-person-fill"></i>
					            <span class="font-weight-bold" th:text="${comment.registerId} + ' | '"></span>
					            <span class="text-secondary" th:text="${#temporals.format(comment.registerTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
					        </div>
					        <div>
					        	<button type="button" class="btn btn-outline-secondary btn-sm" th:if="${comment.registerId == userEmail}" th:onclick="'editComment(' + ${comment.id} + ')'"><i class="bi bi-pencil-square"></i></button>
					            <button type="button" class="btn btn-outline-secondary btn-sm" th:if="${comment.registerId == userEmail or isAdmin}" th:onclick="'deleteComment(' + ${comment.id} + ', ' + ${info.id} + ')'"><i class="bi bi-trash3-fill"></i></button>
					        </div>
					    </div>
					    <p th:id="'commentContent-' + ${comment.id}" class="mt-2" th:text="${comment.content}"></p>
					    <!-- 댓글 수정 폼 -->
					    <div class="edit-form-container" th:id="'edit-form-container-' + ${comment.id}" style="display: none;">
				            <form class="edit-form" th:action="@{/board/view/comment/update}" method="post">
				                <input type="hidden" name="commentId" th:value="${comment.id}" />
				                <input type="hidden" name="boardId" th:value="${info.id}" />
				                <input type="hidden" name="registerId" th:value="${userEmail}" />
				                <div class="mb-6 mt-1">
				                    <textarea class="form-control mb-1" rows="3" name="content" th:text="${comment.content}"></textarea>
				                    <div align="right" class="mb-1">
					                    <button type="button" class="btn btn-primary active" th:if="${comment.registerId == userEmail}" onclick="fnCommentUpdate(this)">Update</button>
					                    <button type="button" class="btn btn-outline-secondary" th:if="${comment.registerId == userEmail}" onclick="fnCommentEdit(this)">Cancel</button>
				                    </div>
				                </div>
				            </form>
				        </div>	   
				        <!-- 대댓글 리스트 -->     
				        <div class="reply-list ml-4">
				            <div th:each="reply : ${commentList}" th:if="${reply.parentId} == ${comment.id}">
				                <div class="reply card p-1 mb-1 bg-light">
				                	<div class="d-flex justify-content-between align-items-center">
					                	<div class="pl-2">
					                		<i class="bi bi-person-fill"></i>
						                    <span class="font-weight-bold" th:text="${reply.registerId} + ' | '"></span>
						                    <span class="text-secondary" th:text="${#temporals.format(reply.registerTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
					                    </div>
								        <div>
								        	<button type="button" class="btn btn-outline-secondary btn-sm" th:if="${reply.registerId == userEmail}" th:onclick="'editReply(' + ${reply.id} + ')'"><i class="bi bi-pencil-square"></i></button>
								            <button type="button" class="btn btn-outline-secondary btn-sm" th:if="${reply.registerId == userEmail or isAdmin}" th:onclick="'deleteReply(' + ${reply.id} + ', ' + ${info.id} + ')'"><i class="bi bi-trash3-fill"></i></button>
								        </div>					                    
				                	</div>
				                	<p th:id="'replyContent-' + ${reply.id}" class="pl-2 mt-2" th:text="${reply.content}"></p>				                	
				                	<!-- 대댓글 수정 폼 -->
								    <div class="editReply-form-container" th:id="'editReply-form-container-' + ${reply.id}" style="display: none;">
							            <form class="editReply-form" th:action="@{/board/view/reply/update}" method="post">
							                <input type="hidden" name="replyId" th:value="${reply.id}" />
							                <input type="hidden" name="boardId" th:value="${info.id}" />
							                <input type="hidden" name="registerId" th:value="${userEmail}" />
							                <div class="mb-6 mt-1">
							                    <textarea class="form-control mb-1" rows="3" name="content" th:text="${reply.content}"></textarea>
							                    <div align="right" class="mb-1">
								                    <button type="button" class="btn btn-primary active" onclick="fnReplyUpdate(this)">Update</button>
								                    <button type="button" class="btn btn-outline-secondary" onclick="fnReplyEdit(this)">Cancel</button>
							                    </div>
							                </div>
							            </form>
							        </div>
				                </div>
				            </div>
				        </div>				        
				        <!-- 대댓글 작성 폼 -->
					    <div class="reply-form-container ml-4" style="display: none;">
					        <form id="replyForm" class="reply-form" th:action="@{/board/view/reply}" method="post">
					            <input type="hidden" id="reply_parentId" name="parentId" th:value="${comment.id}" />
					            <input type="hidden" id="reply_depth" name="depth" th:value="0"/>
					            <input type="hidden" id="reply_boardId" name="boardId" th:value="${info.id}" />
					            <input type="hidden" id="reply_registerId" name="registerId" th:value="${userEmail}" />
					            <div class="d-flex mb-6">
					                <textarea class="form-control flex-grow-1 mr-1" rows="3" name="content"></textarea>
			                    	<button type="button" class="btn btn-success active" onclick="replyAdd(event)">Add Reply</button>
					            </div>
					        </form>
					    </div>
				    </div>
				    <hr>
				</div>
			</div>						
		</div>
		<script th:inline="javascript">
			$(document).ready(function() {	
			  	// 댓글 div 클릭 이벤트
				$('p[id^="commentContent-"]').click(function() {					
				    // 대댓글 입력폼 보이기
				    let replyFormContainer = $(this).parent().find('.reply-form-container');
				    if(replyFormContainer.is(':visible')) {
				        // 대댓글 입력폼이 이미 보이는 경우, 숨기기
				        replyFormContainer.hide();
				    } else {
						replyFormContainer.find('input[name="depth"]').val(1); 	
				        // 대댓글 입력폼이 보이지 않는 경우, 보이기
				        replyFormContainer.show();
				    }
				});
			  	
				// textarea 클릭 이벤트
				$('.reply-form-container textarea').click(function(event) {
				  	// 부모 요소로 이벤트 전파되지 않도록 처리
				  	event.stopPropagation();
				});
				
				// 입력폼 바깥쪽 클릭 이벤트
				$(document).click(function(event) { 
				  	if(!$(event.target).closest('div[id^="comment-"]').length) {
					    // 대댓글 입력폼 숨기기
					    $('.reply-form-container').hide();       
				  	}        
				});
			});
		</script>
	</th:block>
</html>