<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
   	<th:block th:replace="fragments/header :: headerFragment"></th:block>
   	<!-- layout Content -->
	<th:block layout:fragment="content">
  <div class="container">
      <h1>Board Register.</h1>
      <form id="write_frm" action="/board/write/action" method="post">
          <div class="mb-3">
              <label class="form-label">Title.</label>
              <input type="text" class="form-control" name="title" required >
          </div>
          <div class="mb-3">
              <label class="form-label">Content.</label>
              <textarea class="form-control" rows="5" name="content" required ></textarea>
          </div>
          <div class="mb-3">
              <label class="form-label">Writer.</label>
              <input type="text" class="form-control" name="registerId" required >
          </div>
          <button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous</button>
          <button type="button" class="btn btn-primary" onclick="fnSubmit();">Submit</button>
      </form>
  </div>
  <script th:inline="javascript">
      let frm = $("#write_frm");
      
      function fnSubmit() {
    	  console.log('dddddd');
          $("#write_frm").submit();
      }
      
      $(function() {
        frm.validate({
          messages: {
            // Message Custom..
            title: {
              required : "Custom required, Please enter a title."
            }
          },
          submitHandler: function (form) {
              // Submit Action..
              form.submit();
          }
        });
      }); 
  </script>
  </th:block>
</html>