<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
 		<div class="container">
     		<div class="card-header mb-3">
		    	<h3 class="text-center font-weight-bold my-4">Board Register.</h3>
		    </div>
			<form id="frm" action="/board/write/action" method="post" enctype="multipart/form-data">
			  	<div class="mb-3">
				   	<label class="form-label font-weight-bold"><span class="text-danger">* </span>Title.</label>
				   	<input type="text" class="form-control" name="title" required >
				</div>
				<div class="mb-3">
				   	<label class="form-label font-weight-bold"><span class="text-danger">* </span>Content.</label>
				   	<textarea class="form-control" rows="5" name="content" required ></textarea>
				</div>
				<div class="mb-5">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Writer.</label>
				    <input type="text" class="form-control" name="registerId" th:value="${userEmail}" readonly >
				</div>
				<div class="d-flex align-items-center justify-content-between">
					<button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous</button>
					<button type="button" class="btn btn-primary" onclick="fnSubmit();">Submit</button>
			   </div>
			</form>
		</div>
		<script th:inline="javascript">
		    let frm = $("#frm");
		    
		    function fnSubmit() {
		    	frm.submit();
		    }
		    
		    $(function() {
		      	frm.validate({
		        	messages: {
					   	title: {
					     	required : "title is required, Please enter a title."
					   	},
					   	content: {
					   		required : "content is required, Please enter a content."
						},
						registerId: {
					    	required : "writer is required, Please enter a writer."
						}		   
			        },
			        submitHandler: function (form) {
			            form.submit();
			        }
		      	});
		    });
		</script>
	</th:block>
</html>