<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragment">
    <head>
      <title>Board List</title>
      <meta charset="UTF-8">      
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <!-- 게시판 css 추가 -->
      <link rel="stylesheet" href="/css/board.css">	
      <!-- Member css 추가 -->
      <link rel="stylesheet" href="/css/member.css">	
      <!--부트스트랩 css 추가-->
      <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
      <!--jQuery 추가-->
      <script src="/js/lib/jquery.min.js"></script>
      <!--부트스트랩 script 추가-->
      <script src="/js/lib/bootstrap.min.js"></script>
    </head>
  </th:block>
</html>